@font-face
{
    font-family: "Raleway";
    src: url(/fonts/raleway/Raleway-Black.ttf);
    src: url(/fonts/raleway/Raleway-BlackItalic.ttf);
    src: url(/fonts/raleway/Raleway-Bold.ttf);
    src: url(/fonts/raleway/Raleway-ExtraLight.ttf);
    src: url(/fonts/raleway/Raleway-BoldItalic.ttf);
    src: url(/fonts/raleway/Raleway-ExtraBold.ttf);
    src: url(/fonts/raleway/Raleway-ExtraLightItalic.ttf);
    src: url(/fonts/raleway/Raleway-Italic.ttf);
    src: url(/fonts/raleway/Raleway-Medium.ttf);
    src: url(/fonts/raleway/Raleway-ExtraBoldItalic.ttf);
    src: url(/fonts/raleway/Raleway-Light.ttf);
    src: url(/fonts/raleway/Raleway-LightItalic.ttf);
    src: url(/fonts/raleway/Raleway-MediumItalic.ttf);
    src: url(/fonts/raleway/Raleway-Regular.ttf);
    src: url(/fonts/raleway/Raleway-SemiBold.ttf);
    src: url(/fonts/raleway/Raleway-SemiBoldItalic.ttf);
    src: url(/fonts/raleway/Raleway-Thin.ttf);
    src: url(/fonts/raleway/Raleway-ThinItalic.ttf);
}

#bloc_page
{
width: 1360px;
margin: auto;
padding: auto;
}

header a /* 3 éléments du menu de navigation*/
{
    font-size: 0.7em;
    font-style: normal;
    text-decoration: none;
    color: #0065fc;
}

.slogan
{
    font-size: 1em;
    overflow-wrap: break-word;
}

header p
{
    font-size: 0.7em;
}

nav /* Menu de navigation*/
{
    position: absolute;
    right: 10px;
    top: 10px;
    height: 120px;
}

nav ul
{
    list-style: none;
    display: flex;
    width: 420px;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin-right: 20px;
    margin-top: 20px;
}

nav a:hover
{
    border-top: 2px solid #0065fc;
    padding-top: 15px;
}

#searchbar /* Conteneur icone + champ recherche + bouton rechercher*/
{
    position: absolute;
    display: flex;
    height: 30px;
    width: 25%;
}

#bloc_position /* Conteneur icône géolocalisation*/
{
    display: flex;
    background-color: #f2f2f2;
    border-top-left-radius: 6px 10px;
    border-bottom-left-radius: 6px 10px;
    justify-content: center;
    width: 30px;
    min-width: 30px;
    height: 100%;
}

.geolocalisation /* icône géolocalisation*/
{
    max-width: 33%;
    display: block;
}

.ville /* Champ de recherche Ville*/
{
    display: block;
    position: relative;
    padding-left: 10px;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    border-left: none;
    border-right: none;
    font-size: 0.8em;
}

.rechercher /* Bouton Rechercher*/
{
    display: block;
    background-color: #0065fc;
    width: 40%;
    font-size: 0.8em;
    color: #ffffff;
    border-top-right-radius: 6px 10px;
    border-bottom-right-radius: 6px 10px;
    border: none;
    min-width: 100px;
}

#filtres /* Conteneur des 4 filtres*/
{
    position: absolute;
    display: flex;
    width: 75%;
    height: 30px;
    align-items: center;
    margin-top: 20px;
    flex-direction: row;
}

#filtres p
{
    align-items: center;
    margin-left: 0px;
    font-size: 0.8em;
}

.liste_filtres /* Icones de filtres*/
{
    list-style: none;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.liste_filtres li
{
    /* Permet d'aligner l'icône et le texte du filtre */
    display: inline-flex;
}

.icon /* Conteneur des icônes de filtres*/
{
    position: relative;
    left: 10px;
    background-color: #f2f2f2;
    width: 30px;
    height: 30px;
    border-radius: 20px 20px;
    align-items: center;
    border: 1px solid #f2f2f2;
    display: flex;
}

/* Icones de filtres*/
.icon img
{
    max-width: 45%;
    margin: auto;
    padding: auto;
    /* remplissage des icones svg avec filtre (CSS filter generator) */
    filter: invert(30%) sepia(54%) saturate(5456%) hue-rotate(208deg) brightness(96%) contrast(109%);
}

.filter /* Boutons de filtres*/
{
    border-left: none;
    background-color: #ffffff;
    font-weight: bold;
    font-size: 0.8em;
    height: 30px;
    border-top-right-radius: 15px 15px;
    border-bottom-right-radius: 15px 15px;
    border: 2px solid #f2f2f2;
    align-items: center;
    padding: auto;
    padding-left: 12px;
    width: 110%;
}

#result
{
    width: 500px;
    height: 30px;
    display: flex;
    align-items: center;
}

#bloc_info /* Conteneur icône Info */
{
    display: flex;
    background-color: #ffffff;
    border: 1px solid #f2f2f2;
    border-radius: 8px 8px;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
}



.info /* icône Info*/
{
    width: 10px;
    height:10px;
    display: inline-block;
    /* remplissage de l'icone svg avec filtre (CSS filter generator) */
    filter: invert(30%) sepia(54%) saturate(5456%) hue-rotate(208deg) brightness(96%) contrast(109%);
}

#result p
{
    font-size: 0.7em;
    align-items: center;
    margin-left: 10px;
}

#hebergements
{
    background-color: #f2f2f2;
    width: 880px;
    height: 540px;
    border-radius: 10px 10px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
}

h1
{
    width: 100%;
    padding-left: 30px;
    padding-top: 15px;
    font-size: 0.9em;
    font-weight: bold;
}

.vignette
{
    width: 240px;
    height: 190px;
    background-color: #ffffff;
    border-radius: 10px;
    display: inline-block;
    align-items: flex-start;
}

.hotel img
{
    width: 98%;
    max-height: 120px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    border-radius: 10px 10px;
}

.nom_hotel
{
    margin-top: 5px;
    padding-left: 10px;
    font-size: 0.7em;
    font-weight: bold;
    height: 10px;
}

.prix
{
    padding-left: 10px;
    font-weight: normal;
    font-size: 0.7em;
    height: 10px;
}

.rating
{
    display: inline-flex;
    justify-content: flex-start;
    padding-left: 8px;
    width: 15px;
}

.etoile_bleu
{
    padding-bottom: 20px;
    /* remplissage de l'icone svg avec filtre (CSS filter generator) */
    filter: invert(30%) sepia(54%) saturate(5456%) hue-rotate(208deg) brightness(96%) contrast(109%);
}

.etoile_vide
{
    padding-bottom: 20px;
    filter: invert(100%) sepia(81%) saturate(954%) hue-rotate(203deg) brightness(110%) contrast(30%);
}

.plus
{
    width: 100%;
    font-size: 0.7em;
    font-weight: bold;
    padding-left: 15px;
}