@font-face
{
    font-family: "Raleway";
    src: url(fonts/raleway/Raleway-Black.ttf);
    src: url(fonts/raleway/Raleway-BlackItalic.ttf);
    src: url(fonts/raleway/Raleway-Bold.ttf);
    src: url(fonts/raleway/Raleway-ExtraLight.ttf);
    src: url(fonts/raleway/Raleway-BoldItalic.ttf);
    src: url(fonts/raleway/Raleway-ExtraBold.ttf);
    src: url(fonts/raleway/Raleway-ExtraLightItalic.ttf);
    src: url(fonts/raleway/Raleway-Italic.ttf);
    src: url(fonts/raleway/Raleway-Medium.ttf);
    src: url(fonts/raleway/Raleway-ExtraBoldItalic.ttf);
    src: url(fonts/raleway/Raleway-Light.ttf);
    src: url(fonts/raleway/Raleway-LightItalic.ttf);
    src: url(fonts/raleway/Raleway-MediumItalic.ttf);
    src: url(fonts/raleway/Raleway-Regular.ttf);
    src: url(fonts/raleway/Raleway-SemiBold.ttf);
    src: url(fonts/raleway/Raleway-SemiBoldItalic.ttf);
    src: url(fonts/raleway/Raleway-Thin.ttf);
    src: url(fonts/raleway/Raleway-ThinItalic.ttf);
}

body
{
    max-width: 1320px;
}

header
{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 50px;
}

nav
{
    min-width: 25%;
}

nav ul
{
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
}

nav li
{
    font-size: 0.7em;
    font-style: normal;
    padding-right: 40px;
}

.inscription
{
    padding-right: 0px;
}

nav a:hover
{
    border-top: 2px solid #0065fc;
    padding-top: 15px;
}

header a /* 3 éléments du menu de navigation*/
{
    text-decoration: none;
    flex-wrap: wrap;
    color: #0065fc;
}

h1
{
    font-size: 1em;
    flex-wrap: wrap;
    min-width: 240px;
    display: block;
}

h1 + p
{
    font-size: 0.7em;
    flex-wrap: wrap;
    min-width: 240px;
}

#searchbar /* Conteneur icone + champ recherche + bouton rechercher*/
{
    display: flex;
    height: 30px;
    max-width: 360px;
}

#bloc_position /* Conteneur icône géolocalisation*/
{
    display: flex;
    background-color: #f2f2f2;
    border-top-left-radius: 6px 10px;
    border-bottom-left-radius: 6px 10px;
    justify-content: center;
    width: 30px;
    min-width: 30px;
}

.geolocalisation /* icône géolocalisation*/
{
    max-width: 33%;
}

.ville /* Champ de recherche Ville*/
{
    display: flex;
    padding-left: 10px;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    border-left: none;
    border-right: none;
    font-size: 0.8em;
    min-width: 180px;
}

.rechercher /* Bouton Rechercher*/
{
    display: block;
    background-color: #0065fc;
    width: 40%;
    font-size: 0.8em;
    color: #ffffff;
    border-top-right-radius: 6px 10px;
    border-bottom-right-radius: 6px 10px;
    border: none;
    min-width: 40px;
}

#filtres /* Conteneur des 4 filtres*/
{
    display: flex;
    flex-direction: row;
    min-height: 20px;
    max-width: 80%;
    align-items: center;
    align-content: space-around;
    flex-wrap: nowrap;
}

#filtres h2
{
    align-items: center;
    font-size: 0.8em;
    justify-self: flex-start;
}

.liste_filtres /* Icones de filtres*/
{
    list-style: none;
    min-height: 20px;
    min-width: 80%; /*Permet étirement des icones sur largeur de page*/
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 20px;
}

.liste_filtres li
{
    /* Permet d'aligner l'icône et le texte du filtre */
    display: inline-flex;
}

.icon /* Conteneur des icônes de filtres*/
{
    position: relative;
    left: 10px;
    background-color: #deebff;
    width: 30px;
    height: 30px;
    border-radius: 20px 20px;
    align-items: center;
    border: 1px solid #f2f2f2;
    display: flex;
}

/* Icones de filtres*/
.icon img
{
    max-width: 45%;
    margin: auto;
    padding: auto;
    /* remplissage des icones svg avec filtre (CSS filter generator) */
    filter: invert(30%) sepia(54%) saturate(5456%) hue-rotate(208deg) brightness(96%) contrast(109%);
}

.filter /* Boutons de filtres*/
{
    border-left: none;
    background-color: #ffffff;
    font-weight: bold;
    font-size: 0.8em;
    height: 30px;
    border-top-right-radius: 15px 15px;
    border-bottom-right-radius: 15px 15px;
    border: 2px solid #f2f2f2;
    align-items: center;
    padding-left: 12px;
    flex-wrap: wrap;
}

.filter:hover
{
    background-color: #deebff;
}

#result /* Conteneur "Plus de 500 logements trouvés" */
{
    min-width: 90%;
    min-height: 20px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-top: 5px;
}

.bloc_info /* Conteneur icône Info */
{
    display: flex;
    background-color: #ffffff;
    border: 1px solid #f2f2f2;
    border-radius: 8px 8px;
    width: 16px;
    height: 16px;
    margin-left: 5px;
    align-items: center;
    justify-content: center;
}

.info /* icône Info*/
{
    width: 10px;
    height:10px;

    /* remplissage de l'icone svg avec filtre (CSS filter generator) */
    filter: invert(30%) sepia(54%) saturate(5456%) hue-rotate(208deg) brightness(96%) contrast(109%);
}

#result p
{
    font-size: 0.7em;
    margin-left: 10px;
    flex-wrap: wrap;
    display: flex;
}

#section1
{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: space-around;
}

#hebergements /* Section Hébergements*/
{
    background-color: #f2f2f2;
    min-width: 310px;
    max-width: 880px;
    border-radius: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

#hebergements h2 /* Hébergements à Marseille*/
{
    display: block;
    width: 100%;
    height: 10px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 0.9em;
    font-weight: bold;
}

.vignette /* Vignette Hôtel*/
{
    width: 240px;
    height: 180px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 2px 4px 2px #dfdbdb;
}

.vignette a /*Fonctionnalité cliquable*/
{
    display: block;
    text-decoration: none;
    color: black;
}

.vignette:hover
{
    background-color: #deebff;
}

.vignette img 
{
    width: 234px;
    max-height: 120px;
    padding-top: 3px;
    padding-left: 3px;
    border-radius: 10px 10px;
}

.nom_hotel
{
    margin-top: 2px;
    padding-left: 10px;
    font-size: 0.7em;
    font-weight: bold;
    height: 6px;
}

.prix
{
    padding-left: 10px;
    font-weight: normal;
    font-size: 0.7em;
    height: 6px;
}

.rating
{
    margin-left: 6px;
    height: 6px;
}

.rating img
{
    max-width: 8px;
    margin-left: 4px;
}

.etoile_bleu
{
    padding-bottom: 25px;
    /* remplissage de l'icone svg avec filtre (CSS filter generator) */
    filter: invert(30%) sepia(54%) saturate(5456%) hue-rotate(208deg) brightness(96%) contrast(109%);
}

.etoile_vide
{
    padding-bottom: 25px;
    filter: invert(100%) sepia(81%) saturate(954%) hue-rotate(203deg) brightness(110%) contrast(30%);
}

.plus
{
    width: 100%;
    margin-top: 20px;
    display: block;
}

.afficher_plus
{
    min-width: 100px;
    font-size: 0.8em;
    font-weight: bold;
    background-color: #f2f2f2;
    margin-left: 15px;
    border: none;
    outline: none;
}

#populaires /* Section "Les Plus populaires*/
{
    background-color: #f2f2f2;
    border-radius: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
    min-width: 360px;
    margin-left: 20px;
}

.icon_pop
{
    width: 20px;
    height: 20px;
    position: relative;
    right: 0px;
}

#populaires h2 /* Les plus populaires*/
{
    height: 20px;
    font-size: 0.9em;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
}

.vignette_pop /*Vignette Populaires */
{
    min-width: 280px;
    background-color: #ffffff;
    border-radius: 10px 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    box-shadow: 2px 4px 2px #dfdbdb;
}

.vignette_pop:hover
{
    background-color: #deebff;
}

.vignette_pop a /*Fonctionnalité cliquable*/
{
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.pop /* Image Hôtel Populaire */
{
    margin-top: 3px;
    margin-left: 3px;
    width: 96px;
    height: 96px;
    border-top-left-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
}

.prix_pop2
{
    padding-top: 15px;
    padding-left: 10px;
    font-weight: normal;
    font-size: 0.7em;
    height: 6px;
}

.contenu_vignette_populaire
{
    display: inline-block;
    color: black;
}

.contenu_vignette_populaire .rating
{
    display: inline-flex;
    flex-flow: row;
    margin-top: 10px;
    margin-left: 6px;
}

.contenu_vignette_populaire .rating img
{
    height: 8px;
    padding-right: 2px;
}

#activites
{
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-gap: 15px;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 10px 10px;
    margin-left: 0px;
    margin-top: 20px;
    min-width: 340px;
    align-content: top;
}

.activites_h2 /* Activités à Marseille*/
{
    height: 10px;
    margin-left: 30px;
    margin-top: 30px;
    font-size: 0.9em;
    font-weight: bold;
}

#activites a
{
    max-width: 250px;
    text-decoration: none;
}

figure
{
    width: 250px;
    background-color: #ffffff;
    border-radius: 10px 10px;
    margin-left: 0px;
    flex-wrap: wrap;
    box-shadow: 2px 4px 2px #dfdbdb;
}

figure:hover
{
    background-color: #deebff;
}

figure img
{
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
}

figcaption
{
    font-size: 0.7em;
    font-weight: bold;
    margin-left: 15px;
    height: 25px;
    width: 250px;
    padding-top: 5px;
    text-decoration: none;
    color: black;
}

.vieux_port
{
    grid-column: 1;
    grid-row: 1 / 2;
}

.vieux_port img
{
    height: 275px;
}

.fort_pomegues
{
    height: 160px;
    grid-column: 2; grid-row: 1;
}

.fort_pomegues img
{
    max-height: 130px;
}

.iles_frioul
{
    grid-column: 2;
    grid-row: 1;
    align-self: flex-end;
}

.iles_frioul img
{
    max-height: 85px;
}

.calanques
{
    grid-column: 3; grid-row: 1 / 2; 
}

.calanques img
{
    height: 275px;
}

.notre_dame
{
    grid-column: 4;
    grid-row: 1 / 2; 
}

.notre_dame img
{
    object-position: 50% 20%;
    max-height: 105px;
}

.parc_longchamp
{
    grid-column: 4;
    grid-row: 1;
    align-self: flex-end;
}

.parc_longchamp img
{
    max-height: 110px;
}

footer
{
    display: flex;
    align-items: baseline;
    margin-top: 40px;
    background-color: #f2f2f2;
    flex-wrap: wrap;
    border-radius: 10px 10px;
}

footer div
{
    display: inline-block;
    width: 30%;
    margin-left: 20px;
    min-width: 240px;
}

footer h2
{
    font-weight: bold;
    font-size: 0.8em;
}

footer ul
{
    list-style-type: none;
    flex-wrap: nowrap;
    padding-left: 0px;
    margin-top: 5px;
}

footer li
{
    font-weight: normal;
    font-size: 0.7em;
    padding-bottom: 8px;
    flex-wrap: nowrap;
}

@media all and (max-width: 1080px)
{
    #activites
    {
        display: grid;
        grid-template-columns: repeat(3, 250px);
        grid-template-rows: min-content;
        grid-gap: 15px;
        justify-content: space-around;
    }

    .notre_dame
    {
        height: 135px;
        grid-column: 1;
        grid-row: 2; 
    }


    .parc_longchamp
    {
        height: 140px;
        grid-column: 2;
        grid-row: 2; 
    }
}

@media all and (max-width: 768px)
{
    .rechercher
    {
        font-size: 0px;
        background-image: url(icons/search-solid.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 10px;
        display: flex;
        flex-wrap: wrap;
        width: 20px;
    }

    #section1
    {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        padding-right: 10px;
        padding-left: 10px;
        min-width: 360px;
    }

    #herbergements

    {
        margin-right: auto;
        margin-left: auto;
        min-width: 360px;
    }

    #populaires
    {
        margin-right: auto;
        margin-left: auto;
        min-width: 360px;
    }

    #activites
    {
        margin-right: auto;
        margin-left: auto;
        min-width: 360px;
        display: inline-flex;
    }

    #activites a
    {
        margin-right: auto;
        margin-left: auto;
        min-width: 360px;
    }

    figure /* Smartphone */
    {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        max-height: 110px;
    }

    .vieux_port img /* Smartphone */
    {
        height: 80px;
    }

    .fort_pomegues /* Smartphone */
    {
        height: 110px;
    }

    .fort_pomegues img /* Smartphone */
    {
        max-height: 80px;
    }

    .iles_frioul /* Smartphone */
    {
        height: 110px;
    }

    .iles_frioul img /* Smartphone */
    {
        max-height: 80px;
    }

    .calanques img /* Smartphone */
    {
        height: 80px;
    }

    .notre_dame /* Smartphone */
    {
        height: 110px;
    }

    .notre_dame img /* Smartphone */
    {
        max-height: 80px;
    }

    .parc_longchamp img /* Smartphone */
    {
        max-height: 80px;
    }
}

@media all and (max-width: 480px) /* Smartphone */
{
    h1 /* Smartphone */
    {
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    h1 + p /* Smartphone */
    {
        text-align: center;
    }

    #searchbar /* Smartphone */

    {
        margin: auto;
        justify-content: center;
    }

    .rechercher /* Smartphone */
    {
        font-size: 0px;
        background-image: url(icons/search-solid.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 10px;
        display: inline-flex;
        flex-wrap: wrap;
        width: 20px;
    }

    header /* Smartphone */
    {
        min-width: 50px;
    }

    nav /* Smartphone */
    {
        display: flex;
        flex-wrap: wrap;
    }

    #filtres /* Conteneur des 4 filtres*/ /* Smartphone */
    {
        display: flex;
        flex-direction: column;
        max-width: 90%;

    }

    .liste_filtres /* Icones de filtres*/ /* Smartphone */
    {
        flex-direction: row;
    }

    #filtres h2 /* Smartphone */ /* Smartphone */
    {
        min-width: 90%;
        margin-left: 20px;
    }

    #result /* Smartphone */
    {
        justify-content: center;
    }

    #section1 /* Smartphone */
    {
        display: inline-block;
        min-width: 360px;
    }

    #hebergements /* Smartphone */
    {
        min-width: 360px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        order: 2;
        z-index: 1;
    }

    .vignette /*vignettes hébergements*/ /* Smartphone */
    {
        max-height: 150px;
    }

    .vignette img /* Smartphone */
    {
        width: 98%;
        max-height: 90px;
    }

    #populaires /* Smartphone */
    {
        min-width: 310px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        order: 1;
        z-index: 2;
    }

    .vignette_pop /*Vignette Populaires */ /* Smartphone */
    {
        margin-bottom: 10px;
        width: 80%;
        min-width: 280px;
        max-height: 102px;
    }

    .rating /* Smartphone */ /* Smartphone */
    {
        height: 5px;
    }

    #activites /* Smartphone */ /* Smartphone */
    {
        min-width: 360px;
        display: block;
        flex-wrap: nowrap;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }

    #activites a /* Smartphone */
    {
        margin-left: auto;
        margin-right: auto;
    }
}